html {
	font-family: Raleway;
}

input {
	font-family: Raleway;
}

mark {
	background: inherit;
}

a {
	text-decoration: none;
}

header
{
	text-align: center;
}

nav {
	display: table;
	background: #63dae0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
}

#header-logo
{
	display: table-cell;
	vertical-align: middle;
}

#header-logo-image
{
	border-left: 10px solid #63DAE0;
	background-image: url('Icons/Logo_text.png');
	background-repeat: no-repeat;
	background-size: contain;
	display: table-cell;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}

footer
{
	background: #63DAE0;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
}

#foot
{
	font-size: 9pt;
	color: white;
}

/* Navigation bar */

.navbar-span {
	color: white;
	font-size: 1.3em;
}

#landing-login-button {
	/*padding: 0;*/
	border: 1px solid white;
	padding: 5px 5px 5px 5px;
	border-radius: 3px;
	background: #63dae0;
	margin-right: 2em;

	cursor: pointer;
	color: white;
	font-family: Raleway;
	font-size: 0.7em;

	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
}

#landing-login-button:hover {
	background: #90CED3;
}

input[id^='landing'] {
	margin-right: 1em;
}

#landing-login {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	font-family: Raleway;
	margin-right: 5em;
}

@media screen and (max-width: 740px)
{
	/* Login starts stacking */
}

#document {
	padding-top: 20vh;
	/*margin-top: 10em;*/
}


#app-title {
	display: table-cell;
	/*height: 1%;*/
	/*width: 30%;*/
	/*width: 70vh;*/
	max-width: 90%;
	height: 17vh;
	/*min-width: 200px;*/
	/*min-width: 550px;*/
	margin-left: auto;
	margin-right: auto;
}

#landing-break {
	padding: 0;
	margin: 0;
	margin-top: 5%;
	margin-bottom: 7%;
}

.landing-rule {
	height: 2px;
	background: #63dae0;
	margin: 0;
	width: 34%;
	display: inline-block;
	border: none;
	border-radius: 1px;
}

#landing-box {
	width: 28%;
	text-align: center;
	vertical-align: sub;
	color: #AF9D9D;
	margin: 0;
	display: inline-block;
	font-size: 1.2em;
	font-family: Raleway;
}

@media screen and (max-width: 800px)
{
	.landing-rule {
		width: 24%;
	}
	
	#landing-box{
		width: 48%;
	}
}

@media screen and (max-width: 450px)
{
	.landing-rule {
		width: 15%;
	}
	
	#landing-box{
		width: 66%;
	}
}

@media screen and (max-width: 350px)
{
	.landing-rule {
		width: 10%;
	}
	
	#landing-box{
		width: 76%;
	}
}

.centered {
	text-align: center;
}

#landing-button-pane {
	/*margin-left: auto;
	margin-right: auto;*/
}

.button {
	border-radius: 3px;
	width: 20%;
	min-width: 140px;
	opacity: 0.7;
}

.button:hover {
	opacity: 1.0;
	cursor: pointer;
}

#add-button {
	/* Spacing to the right of the add button */
	margin-right: 1em;
	
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
}




/*@media screen and (max-width: 1000px)
{
	#landing-button-pane
	{
		margin-top: 15%;
	}
}*/

